# ==========================
# Xcode & macOS
# ==========================
.DS_Store
xcuserdata/
DerivedData/
build/

# ==========================
# Swift / Obj-C
# ==========================
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# ==========================
# Swift Package Manager
# ==========================
.build/
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# .swiftpm/

# ==========================
# CocoaPods
# ==========================
# Pods/
# *.xcworkspace

# ==========================
# Carthage
# ==========================
Carthage/Build/

# ==========================
# fastlane
# ==========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# ==========================
# Secrets & Config
# ==========================
Secrets/
*.xcconfig
Secrets.xcconfig

# ==========================
# Misc
# ==========================
*.env

# ==========================
# Xcode Info.plist files
# ==========================
*.plist
!LaunchScreen.storyboard
