//
//  Secrets.xcconfig
//  CatsApp
//
//  Created by Carlos Costa on 02/10/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


BREEDS_API_KEY = "live_qZSunkWQL4nxKItjmfA2TcTwIolM00gM2zU489lP9X7oCLuxzHp7nSzvBAApOOY"
